<template>
  <div :class="notificationClass()">{{message}}</div>
</template>
<script>
import { setTimeout } from "timers";

export default {
  data() {
    return {};
  },
  props: ["message", "type"],
  mounted() {
    let that = this;
    setTimeout(function() {
      that.$store.dispatch("removeMessage");
    }, 4000);
  },
  methods: {
    notificationClass() {
      let typeNumber = 0;
      if (this.type === "info") {
        typeNumber = 1;
      } else if (this.type === "error") {
        typeNumber = 2;
      } else {
        typeNumber = 3;
      }
      return {
        border: true,
        rounded: true,
        "py-2": true,
        "px-4": true,
        "mt-4": true,
        "border-blue": typeNumber === 1,
        "border-green": typeNumber === 3,
        "border-red": typeNumber === 2,
        "bg-blue-lighter": typeNumber === 1,
        "bg-red-lighter": typeNumber === 2,
        "bg-green-lighter": typeNumber === 3,
        "text-blue": typeNumber === 1,
        "text-red": typeNumber === 2,
        "text-green": typeNumber === 3
      };
    }
  }
};
</script>
<style scoped>
</style>


