<template>
  <div class="container shadow-lg">
    <p v-if="openToVote===true" class="open-to-vote w-full text-right text-green">Open to vote</p>
    <p v-else class="open-to-vote w-full text-right text-red">Closed to vote</p>
    <h3 class="title">{{title.label}}</h3>
    <p class="detail">{{detail.text}}</p>
    <ul class="votes">
      <li v-for="(vote, index) in votes" :key="index">
        <div class="meter-bar" style="margin-top:60px;">
          <div class="meter-bar-container meter-bar" style="width:30%;">
            <div class="meter-bar-ending">
              <div class="meter-bar-info">
                <b>{{vote.label}}</b>
                <br>
                {{vote.count}} vote
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <a class="btn-regular" @click="copyLink">Copy Link</a>
    <a class="btn-regular" @click="destroyPoll(pollId)">Destroy</a>
    <a class="btn-regular" @click="editPoll()">Edit</a>
    <a class="btn-regular" v-if="openToVote===true" @click="openToVoteCall()">Close</a>
    <a class="btn-regular" @click="openToVoteCall()" v-else>Open</a>
    <div class="flex justify-between w-full">
      <div class="text-sm">{{viewCount}} times viewed</div>
      <div class="text-sm">Created {{ printDate }}</div>
      <div></div>
    </div>
  </div>
</template>

<script>
import PollService from "../services/PollService";
import moment from "moment";

export default {
  data() {
    return {
      colors: [
        "orange-colar",
        "purpink",
        "socialive",
        "intuitive-purple",
        "summer-dog",
        "sulphur",
        "soundcloud",
        "fb"
      ],
      totalVotes: 0,
      openToVote: true
    };
  },
  props: [
    "title",
    "detail",
    "votes",
    "open",
    "pollId",
    "id",
    "viewCount",
    "createdAt"
  ],
  methods: {
    copyLink() {
      var element = document.createElement("input");
      document.body.appendChild(element);
      element.style.opacity = 0;
      element.value =
        location.protocol + "//" + location.hostname + "/poll/" + this.pollId;
      element.select();
      document.execCommand("copy");
      document.body.removeChild(element);
      element = null;
      this.$announcer.set("Poll link copied.");
    },
    async destroyPoll(id) {
      try {
        await PollService.delete(id);
        this.$emit("destroy", this.pollId);
        this.$store.dispatch("addMessage", {
          type: "success",
          message: "Poll successfuly destroyed."
        });
      } catch (err) {
        this.$store.dispatch("addMessage", {
          type: "error",
          message: "error: " + err
        });
      }
    },
    async openToVoteCall() {
      try {
        this.openToVote = !this.openToVote;
        await PollService.update({
          pollId: this.pollId,
          openToVote: this.openToVote
        });
        let status;
        if (this.openToVote) {
          status = "opened";
        } else {
          status = "closed";
        }
        this.$store.dispatch("addMessage", {
          type: "success",
          message: `Poll successfuly ${status} to vote.`
        });
      } catch (err) {
        this.$store.dispatch("addMessage", {
          type: "error",
          message: "error: " + err
        });
        this.openToVote = !this.openToVote; // change back
      }
    },
    editPoll() {
      this.$router.push({
        name: "edit-poll",
        query: {
          pollId: this.pollId
        }
      });
    }
  },
  mounted() {
    this.openToVote = this.open;
  },
  computed: {
    printDate() {
      return moment(this.createdAt).fromNow();
    }
  }
};
</script>

<style scoped>
.container {
  width: 90%;
  padding: 30px 40px;
  background: white;
  margin: 10px 10px 10px 10px;
  position: relative;
  word-wrap: break-word;
}

.container * {
  margin-bottom: 8px;
}

.open-to-vote {
  position: absolute;
  right: 12px;
  top: 12px;
}

.votes {
  list-style: none;
  position: relative;
  padding: 0;
}

.meter-bar-ending {
  position: absolute;
  height: 60px;
  top: -40px;
  right: 0px;
  width: 2px;
  background: red;
}

.meter-bar {
  position: relative;
  background: #eee;
  color: white;
  text-align: center;
  height: 20px;
  width: 100%;
}

.meter-bar-container {
  position: absolute;
  height: 100%;
  width: 0;
  transition: width 0.5s;
}

.meter-bar-info {
  position: absolute;
  color: black;
  width: 200px;
  font-size: 14px;
  left: 4px;
  text-align: left;
}
</style>
