<template>
  <div>
    <div class="bg-white rounded w-3/5 mx-auto mt-6 p-6">
      <h3>Delete User</h3>
      <div class="flex relative mt-4">
        <input
          v-model="deleteEmail"
          type="text"
          placeholder="Ex: some@some.com"
          class="appearence-none rounded shadow border w-3/5 py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
        >
        <button class="px-6 hover:text-red" @click="deleteUser()">
          <i class="fas fa-minus-circle"></i> Delete User
        </button>
      </div>
    </div>
    <div class="bg-white rounded w-3/5 mx-auto mt-6 p-6">
      <h3>Delete Poll</h3>
      <div class="flex relative mt-4">
        <input
          v-model="deletePollId"
          type="text"
          placeholder="Ex: a4b2b3e4a2c1e9f6f3"
          class="appearence-none rounded shadow border w-3/5 py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
        >
        <button class="px-6 hover:text-red" @click="deletePoll()">
          <i class="fas fa-minus-circle"></i> Delete Poll
        </button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      deleteEmail: ""
    };
  },
  methods: {
    deleteUser() {}
  }
};
</script>
<style scoped>
</style>


