<template>
  <div class="w-full max-w-sm m-auto">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="email">Email</label>
        <input
          v-model="email"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
          id="email"
          type="text"
          placeholder="Email"
        >
      </div>
      <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Password</label>
        <input
          v-model="password"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="password"
          type="password"
          placeholder="******************"
        >
      </div>
      <div class="flex items-center justify-between">
        <button
          @click="login"
          class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
        >Sign In</button>
        <a
          class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker"
          href="#"
        >Forgot Password?</a>
        or
        <router-link tag="a" :to="{name:'register'}">Register</router-link>
      </div>
    </form>
    <p class="text-center text-grey text-xs">©2018 Slick Poll. All rights reserved.</p>
  </div>
</template>
<script>
import AuthenticationService from "../services/AuthenticationService";

export default {
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    async login() {
      try {
        const response = await AuthenticationService.login({
          email: this.email,
          password: this.password
        });
        if (response.data.token) {
          this.$store.dispatch("setToken", response.data.token);
          this.$store.dispatch("setUser", response.data.user);
          this.$store.dispatch("addMessage", {
            type: "success",
            message: "Logged in successfully"
          });
          this.$router.push({
            name: "index"
          });
        } else {
          this.$store.dispatch("addMessage", {
            type: "error",
            message: "Invalid username or password"
          });
        }
      } catch (err) {
        this.$store.dispatch("addMessage", {
          type: "error",
          message: "error: " + err
        });
      }
    }
  }
};
</script>
<style scoped>
</style>


