<template>
  <div>
    <div class="h-12 bg-white w-full text-center">
      <input
        type="text"
        class="hidden shadow rounded appearance-none p-3 w-3/5 md:w-3/5 lg:w-2/5"
        placeholder="Search..."
      >
      <div class="inline-block float-right">
        <button class="text-3xl relative text-blue" v-if="page>0" @click="previousPage()">
          <i class="fas fa-arrow-circle-left"></i>
        </button>
        <div class="inline-block px-2 py-4">Page {{page+1}}</div>
        <button class="text-3xl relative text-blue" @click="nextPage()" v-if="polls.length===6">
          <i class="fas fa-arrow-circle-right"></i>
        </button>
      </div>
    </div>
    <div class="bg-white w-1/5 h-12 text-center m-auto" v-if="polls.length===0">
      <h3>There are no records.</h3>
    </div>
    <div class="poll-items">
      <div class="poll-items__panel" v-for="(poll, index) in polls" :key="index">
        <poll-item
          class="flex-no-grow"
          :title="poll.title"
          :detail="poll.detail"
          :votes="poll.votes"
          :open="poll.openToVote"
          :pollId="poll.pollId"
          :viewCount="poll.viewCount"
          :createdAt="poll.createdAt"
          @destroy="destroyPollItem"
        ></poll-item>
      </div>
    </div>
  </div>
</template>
<script>
import PollItem from "../components/PollItem.vue";
import PollService from "../services/PollService";

export default {
  data() {
    return {
      polls: [],
      page: 0
    };
  },
  methods: {
    async destroyPollItem(pollId) {
      const poll = this.polls.filter(obj => {
        return obj.pollId === pollId;
      })[0];
      const polls = (await PollService.listOf({
        skip: 0,
        limit: 6
      })).data;
      this.polls = polls;
    },
    nextPage() {
      this.page += 1;
    },
    previousPage() {
      if (this.page > 0) {
        this.page -= 1;
      }
    }
  },
  components: {
    PollItem
  },
  async mounted() {
    try {
      const polls = (await PollService.listOf({
        skip: 0,
        limit: 6
      })).data;
      this.polls = polls;
    } catch (err) {
      this.$store.dispatch("addMessage", {
        type: "error",
        message: "error: " + err
      });
    }
  },
  watch: {
    page: {
      immediate: true,
      async handler(value) {
        try {
          const polls = (await PollService.listOf({
            skip: value * 6,
            limit: 6
          })).data;
          this.polls = polls;
          this.$announcer.set(`on page ${value + 1}`);
        } catch (err) {
          this.$store.dispatch("addMessage", {
            type: "error",
            message: "error: " + err
          });
        }
      }
    }
  }
};
</script>
<style scoped>
.header {
  font-family: "Montserrat", sans-serif;
  padding: 30px;
  background: #1d1e22;
}

.poll-items__panel {
  break-inside: avoid;
  padding: 5px;
}
@media (min-width: 768px) {
  .poll-items {
    column-count: 1;
    column-gap: 0;
  }
}
@media (min-width: 1200px) {
  .poll-items {
    column-count: 2;
    column-gap: 0;
  }
}
@media (min-width: 1600px) {
  .poll-items {
    column-count: 3;
    column-gap: 0;
  }
}
</style>