<template>
  <div class="w-full max-w-sm m-auto">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="email">Email</label>
        <input
          v-model="email"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
          id="email"
          type="text"
          placeholder="Ex: some@email.com"
        >
      </div>
      <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Password</label>
        <input
          v-model="password"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="password"
          type="password"
          placeholder="******************"
        >
      </div>
      <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Re-Password</label>
        <input
          v-model="rePassword"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="password"
          type="password"
          placeholder="******************"
        >
      </div>
      <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="firstName">First Name</label>
        <input
          v-model="firstName"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="firstName"
          type="text"
          placeholder="Ex: John"
        >
      </div>
      <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="familyName">Family Name</label>
        <input
          v-model="familyName"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="familyName"
          type="text"
          placeholder="Ex: Littlerock"
        >
      </div>
      <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="birthDate">Birth Date</label>
        <input
          v-model="birthDate"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="birthDate"
          type="date"
        >
      </div>
      <div class="flex items-center justify-between">
        <button
          @click="register"
          class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
        >Sign Up</button>
      </div>
    </form>
    <p class="text-center text-grey text-xs">©2018 Slick Poll. All rights reserved.</p>
  </div>
</template>
<script>
import AuthenticationService from "../services/AuthenticationService";

export default {
  data() {
    return {
      email: "",
      password: "",
      rePassword: "",
      firstName: "",
      familyName: "",
      birthDate: null
    };
  },
  methods: {
    async register() {
      try {
        if (this.password !== this.rePassword) {
          this.$store.dispatch("addMessage", {
            type: "error",
            message: "Passwords do not match"
          });
          return;
        }
        const response = await AuthenticationService.register({
          firstName: this.firstName,
          familyName: this.familyName,
          email: this.email,
          password: this.password,
          birthDate: this.birthDate
        });
        if (response.data.success === false) {
          this.$store.dispatch("addMessage", {
            type: "error",
            message: response.data.message
          });
          return;
        }
        this.$store.dispatch("addMessage", {
          type: "success",
          message:
            "Successfully registered. Check your email for verification instructions."
        });
        this.$router.push({
          name: "login"
        });
      } catch (err) {
        this.$store.dispatch("addMessage", {
          type: "error",
          message: "error: " + err
        });
      }
    }
  }
};
</script>
<style scoped>
</style>


