<template></template>
<script>
import AuthenticationService from "../services/AuthenticationService";

export default {
  async mounted() {
    try {
      const token = this.$route.query.token;
      if (typeof token === "undefined") {
        this.$store.dispatch("addMessage", {
          type: "error",
          message: "Error: Token is missing"
        });
        this.$router.push({ name: "login" });
        return;
      }

      const response = await AuthenticationService.verify(token);

      if (response.data.success === false) {
        this.$store.dispatch("addMessage", {
          type: "error",
          message: "Error: Token is not correct"
        });
        this.$router.push({ name: "login" });
        return;
      }

      this.$store.dispatch("addMessage", {
        type: "success",
        message: "Your account is verified. Enjoy!"
      });

      this.$router.push({ name: "login" });
    } catch (err) {
      this.$store.dispatch("addMessage", {
        type: "error",
        message: "error: " + err
      });
    }
  }
};
</script>
<style scoped>
</style>


