<!doctype html>
<html>
<head>
<style>
body {
    background: #f1f5f8;
    width: 100vw;
    height: 100vh;
}

.panel {
    width:40%;
    text-align:center;
    background: white;
    border-radius: 20px;
    padding: 40px;
    margin: auto auto;
}
</style>
</head>
<body>
    <div class="panel">
        <h1>You have successfuly voted.</h1>
    </div>
</body>
</html>